[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/themes/holy"]
	path = themes/themes/holy
	url = https://github.com/serkodev/holy.git
